.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.scrollContainer {
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  transition: scroll 0.2s ease-in-out;
  width: 100%;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
